<div class="big"> <!-- *ngFor="let item of items | async"-->
	<h2 mat-dialog-title>My Dialog</h2>
	<hr>
	<mat-dialog-content>
		<!--<ng-container *ngIf="item.Title">
		    	<h3>
		       		{{ item.Title }}
		    	</h3>
		    </ng-container>
		    <ng-container *ngIf="item.Small">
		    	<strong>Small</strong> {{ item.Small }}
		    </ng-container>
		    <ng-container *ngIf="item.Regular">
		    	<strong>Regular</strong> {{ item.Regular }}
		    </ng-container>-->
		<br>
		<br>
		<strong>{{data}}</strong>
	</mat-dialog-content>
<hr>
	<div class="buttons">
		<mat-dialog-actions>
			<div>
				<button mat-raised-button (click)="onCloseConfirm()" class="order">Place Order</button>
			
				<button mat-raised-button (click)="onCloseCancel()" class="cancel">Cancel</button>
			</div>
		</mat-dialog-actions>
	</div>
</div>