<div class="hero">

    <div class=title>
    <h1><span>UARise</span><br>Menu</h1>
</div>
</div>


<!--
<div class="page">
<app-order-dialog></app-order-dialog>
</div>


<ul class="box">
    <li *ngFor="let item of items | async" class="subbox">
		<div class="holder">
			<a class="button" href="menu#popup1">
		    <img [src]="item.PhotoSrc" width="200px"/>
		    <ng-container *ngIf="item.Title">
		    	<h3>
		       		{{ item.Title }}
		    	</h3>
		    </ng-container>
		    <ng-container *ngIf="item.Small">
		    	<strong>Small</strong> {{ item.Small }}
		    </ng-container>
		    <ng-container *ngIf="item.Regular">
		    	<strong>Regular</strong> {{ item.Regular }}
		    </ng-container>
		    <br>
			</a>
		</div>
    </li>
</ul>

-->


































<div class="container">
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Hot Tea
			    	</h3>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup2">
			    <img src="./assets/images/icedcafemocha.JPG" width="200px"/>
			    	<h3>
			       		Iced Cafe Mocha
			    	</h3>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup3">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		White Mocha
			    	</h3>
			    	<strong>Small</strong> $3.65<br>
			    	<strong>Regular</strong> $4.05
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozencafemocha.JPG" width="200px"/>
			    	<h3>
			       		Frozen Cafe Mocha
			    	</h3>
			    	<strong>Regular</strong> $4.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/icedwhitemocha.JPG" width="200px"/>
			    	<h3>
			       		Iced White Mocha
			    	</h3>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Brewed Coffee
			    	</h3>
			    	<strong>Small</strong> $1.75<br>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/mangosmoothie.JPG" width="200px"/>
			    	<h3>
			       		Mango Smoothie
			    	</h3>
			    	<strong>Regular</strong> $4.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/iceduarise.JPG" width="200px"/>
			    	<h3>
			       		Iced UA Rise
			    	</h3>
			    	<strong>Regular</strong> $3.85
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/sweettea.JPG" width="200px"/>
			    	<h3>
			       		Iced Tea
			    	</h3>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/strawberrysmoothie.JPG" width="200px"/>
			    	<h3>
			       		Strawberry Smoothie
			    	</h3>
			    	<strong>Regular</strong> $4.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/espresso.JPG" width="200px"/>
			    	<h3>
			       		Espresso
			    	</h3>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotchocolate.JPG" width="200px"/>
			    	<h3>
			       		Hot Chocolate
			    	</h3>
			    	<strong>Small</strong> $2.50<br>
			    	<strong>Regular</strong> $3.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenuarise.JPG" width="200px"/>
			    	<h3>
			       		Frozen UARise
			    	</h3>
			    	<strong>Regular</strong> $4.05
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Cafe Latte
			    	</h3>
			    	<strong>Small</strong> $3.15<br>
			    	<strong>Regular</strong> $3.45
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/greentea.JPG" width="200px"/>
			    	<h3>
			       		Green Tea
			    	</h3>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Cafe Mocha
			    	</h3>
			    	<strong>Small</strong> $3.20<br>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/icedchai.JPG" width="200px"/>
			    	<h3>
			       		Iced Chai Latte
			    	</h3>
			    	<strong>Regular</strong> $3.50
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Chai Latte
			    	</h3>
			    	<strong>Small</strong> $3.00<br>
			    	<strong>Regular</strong> $3.50
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Cappuccino
			    	</h3>
			    	<strong>Small</strong> $3.15<br>
			    	<strong>Regular</strong> $3.45
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/icedvanillalatte.JPG" width="200px"/>
			    	<h3>
			       		Iced Vanilla Latte
			    	</h3>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenwhitemocha.JPG" width="200px"/>
			    	<h3>
			       		Frozen White Mocha
			    	</h3>
			    	<strong>Regular</strong> $4.15
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenhotchocolate.JPG" width="200px"/>
			    	<h3>
			       		Frozen Hot Chocolate
			    	</h3>
			    	<strong>Regular</strong> $$$
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenicetea.JPG" width="200px"/>
			    	<h3>
			       		Frozen Ice Tea
			    	</h3>
			    	<strong>Regular</strong> $$$
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Vanilla Latte
			    	</h3>
			    	<strong>Small</strong> $3.45<br>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/coldbrew.JPG" width="200px"/>
			    	<h3>
			       		Cold Brew
			    	</h3>
			    	<strong>Small</strong> $2.50<br>
			    	<strong>Regular</strong> $2.75
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/wildberrysmoothie.JPG" width="200px"/>
			    	<h3>
			       		Wildberry Smoothie
			    	</h3>
			    	<strong>Regular</strong> $4.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenchai.JPG" width="200px"/>
			    	<h3>
			       		Frozen Chai Latte
			    	</h3>
			    	<strong>Regular</strong> $3.90
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotdrink.JPG" width="200px"/>
			    	<h3>
			       		Americano
			    	</h3>
			    	<strong>Small</strong> $1.80<br>
			    	<strong>Regular</strong> $2.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/frozenvanillalatte.JPG" width="200px"/>
			    	<h3>
			       		Frozen Vanilla Latte
			    	</h3>
			    	<strong>Regular</strong> $4.00
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/hotuarise.JPG" width="200px"/>
			    	<h3>
			       		UARise
			    	</h3>
			    	<strong>Small</strong> $3.55<br>
			    	<strong>Regular</strong> $3.95
		    	<br>
			</a>
		</div>
    </div>
    <div class="subbox">
		<div class="holder"> <!--(click)="onclick(item.Title)"-->
			<a class="button" href="menu#popup1">
			    <img src="./assets/images/coldbrew.JPG" width="200px"/>
			    	<h3>
			       		Iced Cafe Latte
			    	</h3>
			    	<strong>Regular</strong> $3.45
		    	<br>
			</a>
		</div>
    </div>
</div>
<br>
<br>
<br>









































































<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup2" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup3" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.65</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $4.05</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup4" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup5" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup6" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $1.75</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup7" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup8" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.85</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup9" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup10" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup11" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup12" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $2.50</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.00</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup13" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.05</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup14" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.15</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular$3.45</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup15" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup16" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.20</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup17" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.50</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup18" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.00</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.50</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup19" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.15</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.45</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup20" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup21" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.15</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup22" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $$$</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup23" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $$$</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup24" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.45</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup25" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $2.50</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $2.75</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup26" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup27" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.90</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup28" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $1.80</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $2.00</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup29" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $4.00</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup30" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Small $3.55</label>
		        <input type='radio' name="size" required><br><br>
		        <label>Regular $3.95</label>
		        <input type="radio" name="size" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>

<div id="popup31" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/ajax/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br><br>
		        <label>Regular $3.45</label>
		        <input type="radio" name="size" checked="checked" required><br><br>
		        <label>Pick-up Time:</label>
		            <select>
				    	<option *ngFor="let event of events" value="event" name="time">{{ event }}</option>
					</select><br><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" action="./app/menu/ajax/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>





<!-- Old popup without calander attatchment
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Order Now</h2>
		<a class="close" href="menu">&times;</a>
		<div class="options">
		    <form class="order-form" action="./app/menu/order.component.php" method="post">
		        <label>Name</label>
		        <input type="text" name="name" placeholder="First Last" required><br>
		        <label>Email</label>
		        <input type="email" name="email" placeholder="jdoe@uaschools.org" required><br>
		        <label>Small</label>
		        <input type='radio' name="size" required><br>
		        <label>Regular</label>
		        <input type="radio" name="size" required><br>
		        <label>Pick-up Time:</label>
		            <select name="time" required>
		                <option>7:30</option>
		                <option>7:35</option>
		                <option>7:40</option>
		                <option>7:45</option>
		                <option>7:50</option>
		                <option>7:55</option>
		                <option>8:00</option>
		                <option>4th Period (ASAP)</option>
		                <option>5th Period (ASAP)</option>
		            </select><br><br>
		        <button type="submit" class="auth" class="loginout2" name="submit" routerLink="home" action="./app/menu/order.component.php">Place Order</button><br>
		    </form>
		</div>
	</div>
</div>
	-->
