/*
#87110a
*/
/*
body {
	background-color: white;
	padding: 0px;
	margin: 0px;
}
*/
body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}